:root {
  --basic-text-color: #212121;
  --secondary-text-color: #757575;
  --accented-text-color: #2196f3;
}
body {
  font-family: Roboto, sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* background-color: tomato; */
}
h1,
h2,
h3,
p {
  margin-bottom: 0;
  margin-top: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
/* navigation sec  */
header {
  background-color: #ffffff;
}
ul {
  list-style: none;
}
.container.head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
}
.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.19;
}
.panel-nav > .logo {
  margin-right: 93px;
}
.web {
  color: var(--accented-text-color);
}
.studio {
  color: #000000;
}
.panel-nav .link.current {
  color: var(--accented-text-color);
}
.panel-nav {
  display: flex;
  align-items: center;
}
.nav-item {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  cursor: pointer;
}
.nav-item li:not(:first-child) {
  margin-left: 50px;
}
.nav-item a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
  text-decoration: none;
}
.nav-item a.current {
  color: var(--accented-text-color);
}
.nav-item a:hover,
.nav-item a:focus {
  color: var(--accented-text-color);
}
.nav-contact {
  display: flex;
  margin-left: auto;
}
.nav-contact li:not(:first-child) {
  margin-left: 50px;
}
.nav-contact a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--secondary-text-color);
}
.nav-contact a:hover,
.nav-contact a:focus {
  color: var(--accented-text-color);
}
/* hero */

.basic-theme {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  justify-content: center;
  background-color: #2f303a;
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
/* all button */

.button.one {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--accented-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
}
.button.one:hover,
.button.one:focus {
  background-color: #188ce8;
  color: #ffffff;
}
button:hover,
button:focus {
  color: #ffffff;
  background-color: var(--accented-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-port {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--basic-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
/* peculiarities */
.pec-list {
  display: flex;
}
.pec-item {
  width: 270px;
  height: 101px;
}
.pec-item:not(:last-child) {
  margin-right: 30px;
}

.pec-head {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.pec-parag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
/* what we do */
.section.wwd {
  padding-top: 0;
}
.wwd-list {
  display: flex;
}
.wwd-item:not(:last-child) {
  margin-right: 30px;
}
.wwd-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* team */
.team-list {
  display: flex;
}
.team {
  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.position {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* portfolio-sec */
.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
/* our project */
.our-project {
  display: flex;
  flex-wrap: wrap;
}
.project-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  /* border: 1px solid #eeeeee; */
}
.project-item:nth-child(3n) {
  margin-right: 0;
}
.project-item::nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project-info {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.name-project {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--basic-text-color);
}
.product {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.link-project {
  text-decoration: none;
}
.studio-footer {
  color: #ffffff;
}
/* footer sec */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.footer-sec > .logo {
  display: inline-block;
  margin-bottom: 20px;
}
address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.connection-list {
  margin-top: 9px;
}
.conn-tel {
  margin-top: 9px;
}
.conn-item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.conn-item {
}
.conn-item a:focus,
.conn-item a:hover {
  color: var(--accented-text-color);
}
